{% extends 'crud/base.html' %}

{% block content %}
    <div class="tablecontainer">
        <table class="darkTable">
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Domicilio</th>
                <th>Fecha Nacimiento</th>
                <th>Creacion</th>
            </tr>
            <tr>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.dni}}</td>
                <td>{{usuario.domicilio}}</td>
                <td>{{usuario.nacimiento}}</td>
                <td>{{usuario.created_date}}</td>
            </tr>
        </table>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'usuario_edit' pk=usuario.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
    </div>
{% endblock content %}